.lightbox-shading {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.normal {
    -fx-background-color: "#ffffff";
}

.cyan {
    -fx-background-color: "#a8dadc";
}

.cyan-hoverable {
    -fx-background-color: "#a8dadc";
}
.cyan-hoverable:hover {
    -fx-background-color: "#afd0e2";
}

.big-text {
    -fx-font-size: 24px;
}

#order-again-button {
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

